#player {

  position: relative;

  padding-bottom: 56.25%;

  /* set max-width to 100% to prevent the video from exceeding the width of its container */

  max-width: 100%;

  height: 0;

}

/* use media queries to adjust the styling for smaller screens */

@media (max-width: 767px) {

  #player {

    padding-bottom: 75%;

  }

}

